* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

div {
  height: 150px;
  background-color: pink;
  width: 100px;
  margin: 100px;
}
/* @media (max-width: 1200px) {
  div {
    background-color: red;
  }
}

@media (min-width: 1500px) {
  div {
    background-color: blue;
  }
} */

@media (max-width: 450px) and (min-width: 200px) {
  div {
    background-color: green;
  }
}

@media (max-width: 1000px) and (min-width: 600px) {
  div {
    background-color: violet;
  }
}

@media (max-width: 1500px) and (min-width: 1001px) {
  div {
    background-color: blue;
  }
}
